<!DOCTYPE html>
<html lang="en">
	<style type="text/css">
        .auto-style1 {
            font-size: 100%;
        }
    </style>
<head>
    <meta charset="utf-8" />
    <title>[layout_title]</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<script src="js/jquery-1.js" type="text/javascript"></script>
	<script src="js/tabs.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Fanwood+Text:400,400italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" media="screen" href="../../css/layout5/style.css">
    <noscript>
		<style>
            .es-carousel ul {display:block;}
        </style>
    </noscript>
</head>
                    
<body>
<style>
	body{scrollbar-face-color: red}
</style>
<a name="top_wrapper"></a>
<div style="background: #fff; position: fixed; top: 0px; width: 100%; z-index: 100000;">
	<div id="logo">
		<a href="#top_wrapper"><img src="images/Demi_Lovato_Signature.png" alt="logo" style="width: 250px;"/></a>
	</div>
	<div id="navigation">
		<div id="nav" style="text-align: center;">
			<div class="nav_layout">
				<a href="#section1" ref="section1">Me</a>
				<a href="#section2" ref="section2">My Gallery</a>
				<a href="#section3" ref="section3">Videos</a>
				<a href="#section4" ref="section4">Info</a>
				<a href="#section5" ref="section5">Simple Info</a>
			</div>
			<div class="clear"></div>
		</div>
		
		<div id="mobileNav" style="text-align: center;">
			<div id="mobi_button"></div>
			<div class="mobi_nav_layout">
				<a href="#section1" ref="section1">Me</a>
				<a href="#section2" ref="section2">My Gallery</a>
				<a href="#section3" ref="section3">Videos</a>
				<a href="#section4" ref="section4">Info</a>
				<a href="#section5" ref="section5">Simple Info</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div id="container">
    <div id="sections">
        <div class="slider" id="imageHolder">
		<div class="slideHolder">
			<div class="slideDescript">Demi Lovato at the 2011 Latin Grammy's</div>
				<img src="../../uploads/demi_lovato_slider2.jpg" class="slide_img" />
		</div><div class="slideHolder">
  <div class="slideDescript">New Music By Demi Lovato</div>
  <img src="../../uploads/demi_lovato_slider.jpg" class="slide_img" />
</div></div><div class="sectionBackground">
    <div class="container">
        <a name="section1"/></a>
        <h2>Demi Lovato Info Layout</h2>
        <div class="one-thirds">
            <h3>Something about me</h3>
            Demetria Devonne "Demi" Lovato is an American singer-songwriter, musician, actress and anti-bullying spokesperson.
            <div class="moreInfo">
                This is a great Informational Idea
            </div>
        </div>
        <div class="one-thirds middle">
            <h3>My Music</h3>
            My music is my life. I love working towards a goal with my lyrics and working at things that will build things up.
            <div class="moreInfo">
                This is a great Informational Idea
            </div>
        </div>
        <div class="one-thirds">
            <h3>My life</h3>
            My music is my life. I love working towards a goal with my lyrics and working at things that will build things up.
            <div class="moreInfo">
                This is a great Informational Idea
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div><div class="container">
    <a name="section2"/></a>
    <h2>Galleries about Demi</h2>
    <div class="one-thirds">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="one-thirds">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="one-thirds">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="one-thirds">
        <div class="imageHolder"><img src="../uploads/demi_lovato_wallpaper_by_curious_lil_soul-d2zj402.jpg" class="img" /></div>
        <h3>Demi Lovato</h3>
        Great Wallpaper By one of my fans
    </div>
    <div class="clear"></div>
</div><div class="sectionBackground">
    <div class="container">
        <a name="section3"/></a>
        <h2>This is a video</h2>
        <div class="youtube">
            <iframe width="100%" height="315" src="http://www.youtube.com/embed/r_8ydghbGSg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="subhead">Testing </div>
    </div>
</div><div class="container">
	<a name="section4"/></a>
	<div id="tabContainer">
        <div class="tabContentMainHolder">
            <div class="tabContentHolder">
                <h2>Info</h2>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  Lorem Ipsum.
            </div>
            <div class="tabContentHolder">
                <h2>Info</h2>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  Lorem Ipsum.
            </div>
            <div class="tabContentHolder">
                <h2>Info</h2>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  Lorem Ipsum.
            </div>
        </div>
    </div>
</div>
<script>
	$(document).ready(function(){
		$('.tabContentMainHolder').createTabs();
	})
</script>
    </div>
    <!--up to top -->
    <a class="up"></a>
	</div>
</div>
<div id="footer">[layout_footer]</div>

<!--scripts -->
<script src="js/popupMagic.js" type="text/javascript"></script>
<script src="js/mobiNav.js" type="text/javascript"></script>
<script src="js/slider.js" type="text/javascript"></script>
<script src="js/scrollLayout.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('.slider').each(function(){ $(this).slider(); })
		
		$('#nav a').each(function(){ $(this).scrollNav(120); });
		$('#top_nav a').each(function(){ $(this).scrollNav(120); });
		$('#logo a').each(function(){ $(this).scrollNav(400); });
		$('#mobileNav a').each(function(){ $(this).scrollNav(70); });
		
		$('.imageHolder').popupMagic();
		$('#mobi_button').mobiNav();
	})
</script>
</html>