<div id="formHolder">
	<form action="?step=checkout" method="POST" id="form">
		<h2>Create Your Account</h2>
		<div class="signup"></div>
		<div><label>Website Name</label><input name="step1[website]" type="text" /></div>
		<div><label>Username</label><input name="step1[username]" type="text" /></div>
		<div><label>Password</label><input name="step1[password]" type="password" /></div>
		<div><label>Email</label><input name="step1[email]" type="text" /></div>
		<!-- INFO: The post URL "checkout.php" is invoked when clicked on "Pay with PayPal" button.-->

		<input type='image' name='paypal_submit' id='paypal_submit'  src='https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif' border='0' align='top' alt='Pay with PayPal'/>
	</form>
	<div class="clear"></div>
</div>
<div id="footer">
	<div class="clear"></div>
</div>
<div class="clear"></div>