<div id="team" class="container clearfix">
    <div class="sixteen columns">
		[anchor_link]
        <h1>[nav_header]</h1>
        <p class="subhead">[nav_subhead]</p>
    </div>
    <!-- team members -->
    <div class="four columns">
        <img src="images/gd-1.jpg" alt="image" class="image_left" />
        <h3>[nav_column11_h3]</h3>
        [nav_column11_h3description]
    </div>
    <div class="four columns ">
        <img src="images/wd-1.jpg" alt="image" class="image_left" />
        <h3>[nav_column12_h3]</h3>
        [nav_column12_h3description]
    </div>
    <div class="four columns">
        <img src="images/ci-1.jpg" alt="image" class="image_left" />
        <h3>[nav_column13_h3]</h3>
        [nav_column13_h3description]
    </div>
    <div class="four columns omega">
        <img src="images/ip-1.jpg" alt="image" class="image_left" />
        <h3>[nav_column14_h3]</h3>
        [nav_column14_h3description]
    </div>
    <!-- team members ends-->
    <div class="divider2 "></div>
    <!--testimonials start-->
    <!--slider ends-->
</div>
<!--team section ends-->
<div class="clear"></div>
<!--classes section starts-->
<div id="classes" class="container clearfix">