[nav_bullets] <div id="about" class="container clearfix">
    <div class="sixteen columns">
		[anchor_link]
        <h1>[nav_header]</h1>
        <p class="subhead">[nav_subhead]</p>
    </div>
    <br class="clear" />
    <div class="one-third column">
        <a href="images/large/img6.jpg" data-rel="prettyPhoto">
        <img src="images/about.jpg" alt="" class="image_border" /></a>
        <h6>[nav_gallerysub]</h6>
        <p>[nav_gallerysubsub]</p>
    <ul class="star">
                [nav_bullets]
            </ul><br />
    </div>
    <div class="two-thirds column">
        <h2>[nav_23rd_h2]</h2>
        [nav_23rd_h2sub]
        <h4>[nav_23rd_h4]</h4>
        [nav_23rd_h4sub]
        <div class="divider"></div>
    <h4>Image Gallery</h4>
    <p>[nav_gallerydescription]</p>
    <!--carousel
    starts -->
    <div id="carousel" class="es-carousel-wrapper">
        <div class="es-carousel">
            <div>
                [nav_gallery1_multi-image]
            </div>
        </div>
    </div>
    <!--carousel ends ends-->
    </div>
</div>