@font-face {
  font-family: 'Fanwood Text';
  font-style: italic;
  font-weight: 400;
  src: local('Fanwood Text Italic'), local('FanwoodText-Italic'), url(http://themes.googleusercontent.com/static/fonts/fanwoodtext/v3/0J3SBbkMZqBV-3iGxs5E93pumDtkw9GHrrDfd7ZnWpU.woff) format('woff');
}
@font-face {
  font-family: 'Fanwood Text';
  font-style: normal;
  font-weight: 400;
  src: local('Fanwood Text'), local('FanwoodText-Regular'), url(http://themes.googleusercontent.com/static/fonts/fanwoodtext/v3/hDNDHUlsSb8bgnEmDp4T_nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
