<div class="sectionBackground">
    <div class="container">
        [anchor_link]
        <h2>[nav_header]</h2>
        <div class="one-thirds">
            <h3>[nav_1stThird]</h3>
            [nav_1stThird_description]
            <div class="moreInfo">
                [nav_1stThird_moreinfo]
            </div>
        </div>
        <div class="one-thirds middle">
            <h3>[nav_2ndThird]</h3>
            [nav_2ndThird_description]
            <div class="moreInfo">
                [nav_2ndThird_moreinfo]
            </div>
        </div>
        <div class="one-thirds">
            <h3>[nav_3rdThird]</h3>
            [nav_3rdThird_description]
            <div class="moreInfo">
                [nav_3rdThird_moreinfo]
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>