<div class="container">
	[anchor_link]
	<h2>[nav_title]</h2>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image1]</div>
        <h3>[nav_sub_title1]</h3>
        [nav_description1]
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder">[nav_image2]</div>
        <h3>[nav_sub_title2]</h3>
        [nav_description2]
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image3]</div>
        <h3>[nav_sub_title3]</h3>
        [nav_description3]
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image4]</div>
        <h3>[nav_sub_title4]</h3>
        [nav_description4]
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder">[nav_image5]</div>
        <h3>[nav_sub_title5]</h3>
        [nav_description5]
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image6]</div>
        <h3>[nav_sub_title6]</h3>
        [nav_description6]
    </div>
</div>