<div class="container">
    <h2>[nav_main_header]</h2>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image1]</div>
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder">[nav_image2]</div>
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image3]</div>
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image4]</div>
    </div>
    <div class="one-thirds middle">
        <div class="imageHolder">[nav_image5]</div>
    </div>
    <div class="one-thirds">
        <div class="imageHolder">[nav_image6]</div>
    </div>
    <div class="clear"></div>
</div>