<div id="news" class="container clearfix">
    <div class="sixteen columns">
        <h1>[nav_header]</h1>
        <div class="subhead">[nav_subhead]</div>
    </div>
    <div class="sixteen columns">
        <div class="slidewrap2">
            <div class="holder">
                <ul class="slider">
                    <!--SLIDE 1-->
                    <li class="slideb">
                        <div class="eight columns alpha">
                            <a href="images/large/img8.jpg" data-rel="prettyPhoto">
<img src="images/large/img8.jpg" alt="" class="image_left_blog" /></a>
                            <h3>[nav_h3image]</h3>
                            [nav_textimage]
                            <div class="read-more">
            <span class="blog_star">&#10026;</span> <a href="#">Read More</a> &raquo;
                        </div>
            </div>
            <!--SLIDE 2-->
            <div class="eight columns omega">
                <div class="blog_video">
                   <iframe width="440" height="293" src="http://www.youtube.com/embed/EkLXDsrPmK4" frameborder="0" allowfullscreen></iframe>                                              </div>
                <h3>
                    [nav_h3video]</h3>
                [nav_textvideo]
                <div class="read-more">
            <span class="blog_star">&#10026;</span> <a href="#">Read More</a> &raquo;
            </div>
        </div>
        </li>
        <!--news page 1 ends-->
        <!--news page 2 starts-->
	</div>
</div>