<div class="sixteen columns">
    <br />
    <h2>[nav_header]</h2>
</div>
<!--tabs start-->
<div class="sixteen columns">
    <ul class="tabs">
        <li>
            <a class="active" href="#tab1">[nav_subheader]</a>
        </li>
    </ul>
    <!--tabs content 1 starts-->
    <ul class="tabs-content">
        <li class="active" id="tab1">
            <h4>[nav_bottom_header]</h4>
            [nav_bottom_text]
        </div>
        <div>
        [nav_subbottom_text]
        </div>
        </li>
        <!--tabs content 1 ends-->
    </li>
</ul>